source https://www.nuget.org/api/v2
framework >= net452

nuget FAKE
nuget MassTransit
nuget MassTransit.TestFramework
nuget NewId
nuget Newtonsoft.Json < 10
nuget RavenDb.Client < 4
nuget RavenDb.Embedded < 4
nuget Shouldly
nuget NUnit
nuget NUnit.Runners