source https://www.nuget.org/api/v2
framework >= net452

nuget FAKE
nuget MassTransit
nuget NewId
nuget Newtonsoft.Json < 9
nuget RavenDb.Client ~3
nuget RavenDb.Embedded ~3
nuget Shouldly
nuget NUnit
nuget NUnit.Runners